.root
{
	-fx-background-color:  #202020;
	-fx-padding: 15;
    -fx-alignment: CENTER;
	-fx-background-radius: 10;
	-fx-width: 620;
	-fx-heigh: 420;
}

.jfx-button {
	 -fx-alignment: CENTER;
     -jfx-button-type: RAISED;
     -fx-background-color: #C0C0C0;
     -fx-text-fill: #202020;
	 -fx-font-size: 22;
	 -fx-padding: 10;
}
.label
{
	-fx-text-fill: #A8A8A8;
}